body 
{ 
    background-color:rgb(39, 26, 26); 
} 
h1
{
    color: white;
}
header
{
    width: 100%;
    height: 50px;
    background-color: rgb(88, 27, 27);
}
h2
{
    color: white;
}
main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 120px;
    margin: 0 auto;
}
section
{
    flex: 1 1 calc(50% - 20px);
    min-width: 300px;
    height: 150px;
    background-color: rgba(88, 27, 27);
    color: white;
    display:  flex;
    align-items: center;
    justify-content: center;   
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: blackground-color 0.3s;
}
section:hover
{
    background-color: rgba(200, 7, 7, 0.8);
}
